# Class 1: intro to notebooks and python

Agenda:
1. review Data Science
1. jupyter notebooks
1. pyton: conditionals and fucntions

In [1]:
4+5

9

In [2]:
a = 9

In [3]:
a

9

In [4]:
b = 4
b

4

In [5]:
a

9

In [6]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [7]:
print() # shift +tab to view help

In [8]:
print?

In [9]:
print(a,b, 'hello',sep='-')

9-4-hello

In [10]:
a
b

4

In [11]:
if a >b:
    print('greater')

greater

In [12]:
if b > a:
    print('greater')

In [13]:
def greeting(name):
    print('hello', name)

In [14]:
greeting('sarah')

hello sarah

In [15]:
def check_string(word):
    '''
    this function checks for spaces
    '''
    if ' ' in word:
        return "please rename"